body {
    margin: 0;

    background-color: #e3ef89;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 1;
}

button {
    padding: 0;
}

.header_outer {
    background: #6e6e6e;
    width: 100%;
    min-width: 783px;
}

.header_inner {
    padding-left: 12px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    height: 52px;
}

.header_sex {
    margin: 0;
    height: 100%
}

.nav_btn {
    border: none;
    background-color: #6e6e6e;

    width: 200px;
    height: 100%;

    border-radius: 4px 4px 0 0;
}

.chk_btn {
    background-color: #e3ef89;
}

.non_btn {
    background-color: white;
    position: relative;
    top: 8px;

    height: 80%;
}